{% extends 'include/base.html' %}
{% load static %}
{% block content %}
<section class="main_navbar mt-3">
    <div class="container-fluid">
        <div class="section-left">
            <div class="row justify-content-center">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <div class="section_title">
                        <h1 class="h3">Склад: <a class="text-decoration-underline text-primary" href="{% url 'index' %}">Akmal-Parts</a></h1>
                    </div>
                    <div class="section_search w-50">
                        <form action="" method="GET">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Поиск по наименованию и по артиклу ..." aria-label="Поиск" name="q" value="{{ query }}">
                                <button class="btn btn-outline-primary" type="submit" id="button-addon2">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="action_block">
                        <a class="btn btn-primary" href="https://web.telegram.org/k/#@Akmalidin" target="_blank" title="Перейти в Telegram"><i class="fab fa-telegram-plane"></i></a>
                        <a class="btn btn-danger" href="https://www.instagram.com/akmal_parts/" title="Перейти в Instagram"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-warning" href="{% url 'export_products' %}" title="Прайс лист">Экспорт</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Product list Section -->
<section class="product_list mt-4 px-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped rounded">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">
                                    <a href="#" class="sort-link" data-sort="category" data-order="{{ order_by }}" data-query="{{ query }}" data-category="{{ category_id }}">Категория</a>
                                </th>
                                <th scope="col">
                                    <a href="#" class="sort-link" data-sort="name" data-order="{{ order_by }}" data-query="{{ query }}" data-category="{{ category_id }}">Наименование</a>
                                </th>
                                <th scope="col">Изображение</th>
                                <th scope="col" class="text-primary">
                                    <a href="#" class="sort-link" data-sort="articul" data-order="{{ order_by }}" data-query="{{ query }}" data-category="{{ category_id }}">Код</a>
                                </th>
                                <th scope="col">
                                    <a href="#" class="sort-link" data-sort="price" data-order="{{ order_by }}" data-query="{{ query }}" data-category="{{ category_id }}">Цена</a>
                                </th>
                                <th scope="col">Кол-во</th>
                                <th scope="col">Тип цены</th>
                                <th scope="col">Поступил в склад</th>
                                <th scope="col">Последнее поступление</th>
                                <th scope="col">Действие</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            {% if products %}
                                {% for product in products %}
                                    <tr>
                                        <th class="product_id">{{ product.id }}</th>
                                        <td class="product_category">{{ product.category.name }}</td>
                                        <td class="product_name">{{ product.name }}</td>
                                        <td class="product_image portfolio-item">
                                            <ul class="row" style="list-style: none;">
                                                {% if product.images.all %}
                                                    {% for img in product.images.all|slice:":1" %}
                                                        <li class="mix hens col-xl-3 col-md-4 col-12 col-sm-6 pd">
                                                            <img src="{{ img.img.url }}" alt="Product Image" />
                                                            <div class="portfolio-overlay d-flex align-items-center justify-content-center">
                                                                <div class="overlay-content">
                                                                    <a data-fancybox="gallery-{{ product.id }}" title="Нажмите чтобы увеличить" href="{{ img.img.url }}" data-size="1200x600">
                                                                        <div class="magnify-icon">
                                                                            <p><span><i class="fas fa-eye"></i></span></p>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                {% else %}
                                                    <li class="mix hens col-xl-3 col-md-4 col-12 col-sm-6 pd">
                                                        <img src="{% static 'img/nophoto.jpg' %}" alt="Placeholder Image" />
                                                        <div class="portfolio-overlay d-flex align-items-center justify-content-center">
                                                            <div class="overlay-content">
                                                                <a data-fancybox="gallery-{{ product.id }}" title="Нажмите чтобы увеличить" href="{% static 'img/nophoto.jpg' %}" data-size="1200x600">
                                                                    <div class="magnify-icon">
                                                                        <p><span><i class="fas fa-eye"></i></span></p>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </td>
                                        <td class="product_code">{{ product.articul }}</td>
                                        <td class="product_price">{{ product.price }} с</td>
                                        <td class="product_quantity">{{ product.quantity }} шт</td>
                                        <td class="product_type"><span class="bg-warning p-1 rounded">{{ product.type_of_price }}</span></td>
                                        <td class="product_created">{{ product.created_at }}</td>
                                        <td class="product_updated">{{ product.last_updated }}</td>
                                        <td class="product_action">
                                            <a href="https://wa.me/+996553565674?text=Здравствуйте,%20Меня%20интересует%20{{ product.name }}%20Код:%20{{ product.articul }}" class="btn btn-primary" target="_blank">
                                                <i class="fas fa-cart-plus"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="11">Нет доступных продуктов</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function() {
        $('.sort-link').on('click', function(e) {
            e.preventDefault();
            
            var sortField = $(this).data('sort');
            var currentOrder = $(this).data('order');
            var newOrder = currentOrder === 'asc' ? 'desc' : 'asc';
            var query = $(this).data('query');
            var categoryId = $(this).data('category');
            
            var newUrl = `?q=${query}&category_id=${categoryId}&sort_by=${sortField}&order_by=${newOrder}`;
            window.location.href = newUrl;
        });
    });
</script>
{% endblock %}
